<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp62A610FDDE92CF51D05322BEF0E226B2" Guid="{6145BEEB-64C6-49B6-B5D8-86CFD7205BA1}">
                <File Id="fil734562E1142DB06F0A4D7B4FFCE2E13D" KeyPath="yes" Source="$(var.BasePath)\AutoUpdater.NET.dll" />
            </Component>
            <Component Id="cmp9110E4565D76564E9BC2F34625854902" Guid="{8A5BFD69-A32A-426F-BFC8-CA5B3E25ABC2}">
                <File Id="filAC751AB8116CEF372F8CFDA54B395D08" KeyPath="yes" Source="$(var.BasePath)\ControlzEx.dll" />
            </Component>
            <Component Id="cmpBE3C1D05C7C90455322C9F819A57A07A" Guid="{E4C07DC1-E4F2-418D-B473-09A16DB56090}">
                <File Id="filE7C602A91344AD969255F20A2CA7411A" KeyPath="yes" Source="$(var.BasePath)\Hardcodet.Wpf.TaskbarNotification.dll" />
            </Component>
            <Component Id="cmp223D4754378C01052DA8253A843FD297" Guid="{1C4D5E6E-663E-4167-AC57-7F8B9710320D}">
                <File Id="filBC562C5B3D9848A2114F0AF7275FF1E6" KeyPath="yes" Source="$(var.BasePath)\MahApps.Metro.dll" />
            </Component>
            <Component Id="cmp5B52A156A080E21CFB9B323B5D15A45A" Guid="{35C14457-9111-4915-8995-648163BB1733}">
                <File Id="fil3BA05F1A7C3D542D09CCC72F8D6E41E9" KeyPath="yes" Source="$(var.BasePath)\MdXaml.dll" />
            </Component>
            <Component Id="cmp4D5FEDB2613ABE0CC5DA87D2DBC3D2BA" Guid="{2C13171A-4B8B-4389-B55E-96B9C800278A}">
                <File Id="fil993E97B19C2FD3D2BC7088ED20C5CE93" KeyPath="yes" Source="$(var.BasePath)\MdXaml.pdb" />
            </Component>
            <Component Id="cmpBFEDA7A8D4424C72EC293E61D495B6FF" Guid="{725AA30B-8B3F-43EA-AB90-AA1A10C91FAD}">
                <File Id="filADEAA118F7F2A52D63B51B90C22A091E" KeyPath="yes" Source="$(var.BasePath)\MessagePack.Annotations.dll" />
            </Component>
            <Component Id="cmp11D04828B3ED23976ED03141046B44C2" Guid="{6D4498F8-E796-43BB-9975-18A2BFEF091F}">
                <File Id="fil4C4F5B126A8A0E6401516C96D9AE73FC" KeyPath="yes" Source="$(var.BasePath)\MessagePack.dll" />
            </Component>
            <Component Id="cmp20E5A82EE1F53BB560782568696E50EF" Guid="{7CE4FA7B-67BA-4FDE-B355-AC0C5FB91E62}">
                <File Id="fil2E537F5E44EFF72FBE1AF325D6F073A2" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Bcl.AsyncInterfaces.dll" />
            </Component>
            <Component Id="cmpDF2A173873CB2DF4B359397F026B691C" Guid="{022E0D19-B3FE-4339-B635-D4DAEEB1EC1F}">
                <File Id="filF77BADE6C443F07005CCC8598C0BF253" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Toolkit.Uwp.Notifications.dll" />
            </Component>
            <Component Id="cmp16861E24C897764CA922EC062BA74EC9" Guid="{360545B0-9E15-43B4-986F-E74FA1115209}">
                <File Id="filD8E300ACBEFE74B5C24D4D06DCE96AAC" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Win32.SystemEvents.dll" />
            </Component>
            <Component Id="cmp8AC833CFB7DC6722697152FE46DA157A" Guid="{99659FEF-B289-4D8F-8055-AEFC9AA3C043}">
                <File Id="filD3CAD095889A5DE7EAAE25C73BC9910A" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Xaml.Behaviors.dll" />
            </Component>
            <Component Id="cmpB007AF0D64FEC3E4CCD5DDEEFDD0FCE0" Guid="{97583FCE-A16F-49C8-8D73-00E08899F1FE}">
                <File Id="fil0FE932F6613C8F739053FD8C168D1309" KeyPath="yes" Source="$(var.BasePath)\ModernWpf.Controls.dll" />
            </Component>
            <Component Id="cmp8033887FE4533F73A3432B0F9C9A4E87" Guid="{8BBB31E1-F1E3-43EF-8DC8-0C5508A3AF67}">
                <File Id="fil9398A823363F820CC8933AA416C6C745" KeyPath="yes" Source="$(var.BasePath)\ModernWpf.dll" />
            </Component>
            <Component Id="cmpB7046E471ED7E50D2ACC307A1500865A" Guid="{38C67067-1E43-4D44-BB54-A6FA93614205}">
                <File Id="fil669E50F53452FB453C5646AC7F26FFF3" KeyPath="yes" Source="$(var.BasePath)\ModernWpf.MahApps.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{B36C4D8B-CD11-4821-80A6-B68AD0DD9B6E}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpA704DA18EEB416409240ED952AA6BFD4" Guid="{2270C41B-B9C9-468D-930F-DE74A3827318}">
                <File Id="filF52E4D20F77FA31560F10F284CA117DF" KeyPath="yes" Source="$(var.BasePath)\Sentry.dll" />
            </Component>
            <Component Id="cmp435E538CF04439DBCE66AA16A7EAC669" Guid="{AA44D500-E862-4874-9566-41C277B7FC5E}">
                <File Id="fil4E2A83C32699608B0BD82E20FD02DC34" KeyPath="yes" Source="$(var.BasePath)\Sodium.Core.dll" />
            </Component>
            <Component Id="cmp08EBD8C605FF27A4F0FCEC5A1317087B" Guid="{D15C0324-F9C9-4F85-8702-27DAABF9CFF3}">
                <File Id="fil01C46D7B4C6F372B6DD0D0DC961DAE47" KeyPath="yes" Source="$(var.BasePath)\System.Drawing.Common.dll" />
            </Component>
            <Component Id="cmpA5817A2BB296EF3C39CAFA8A07CD6B59" Guid="{AFBDB165-932F-4792-89B0-DE07FC5C6F7D}">
                <File Id="fil1FBF587862F484BB82A1D65565F935B6" KeyPath="yes" Source="$(var.BasePath)\System.Text.Json.dll" />
            </Component>
            <Component Id="cmp0F154A7223DF5BCBA5242150EFB1D632" Guid="{C9FB3E38-892C-4A26-868E-EBCA44F4DB6A}">
                <File Id="fil6837A0AB0D3DA12182879FDD202CBE7E" KeyPath="yes" Source="$(var.BasePath)\WpfWindowPlacement.dll" />
            </Component>
            <Component Id="cmp789087371D7AD59BBC0313545741F979" Guid="{A6418103-8D08-445C-A4BC-B10A5BA9AB10}">
                <File Id="fil8D5DD4833DEFEDB55C6A86A0D03E8D76" KeyPath="yes" Source="$(var.BasePath)\XIVChat Desktop.deps.json" />
            </Component>
            <Component Id="cmp400C65086FD37B5B46A2A729C0AC57EF" Guid="{D3EADEAF-B874-4340-A950-38E6ABE7A255}">
                <File Id="filB3ED4075481BEDB1FFFB1B678F5FAFD3" KeyPath="yes" Source="$(var.BasePath)\XIVChat Desktop.dll" />
            </Component>
            <Component Id="cmpEA4BCDFE4F274948BEDF619A2303342A" Guid="{B5F1BF21-1B6A-4AD0-A1EF-5E921DB25DEB}">
                <File Id="filE41F75E644085020A15B472257C3E843" KeyPath="yes" Source="$(var.BasePath)\XIVChat Desktop.exe" />
            </Component>
            <Component Id="cmp2976261FCF531D3D10B13E080A963D75" Guid="{89F6A5BD-496C-4860-86B5-D85C7045934C}">
                <File Id="fil1E9777FBBDBE5F312C983CA24E9CAD61" KeyPath="yes" Source="$(var.BasePath)\XIVChat Desktop.pdb" />
            </Component>
            <Component Id="cmpE21E5009D2DB48C7FD0819BEBC60A338" Guid="{290CC4A4-56A2-4403-8084-AE299E797199}">
                <File Id="filC35BA98EFEAE6179940B7AA5FA56CD12" KeyPath="yes" Source="$(var.BasePath)\XIVChat Desktop.runtimeconfig.json" />
            </Component>
            <Component Id="cmp398EECD87ED648B7A1C26D0A22F0EF95" Guid="{BAA521DF-F4AD-45D9-9CFC-39B740415D2A}">
                <File Id="fil126847746BA3BEC2AED804AB8CDC8E82" KeyPath="yes" Source="$(var.BasePath)\XIVChatCommon.dll" />
            </Component>
            <Component Id="cmp56488BC092D9B3E6C8546D012BC86A37" Guid="{532D7E66-92A9-48D9-B0A1-E494F5583BE0}">
                <File Id="filD1F731A953EEC1D296BC63DEE80F5354" KeyPath="yes" Source="$(var.BasePath)\XIVChatCommon.dll.config" />
            </Component>
            <Component Id="cmp81257D18BC0A55BE374445B2BD0F64D7" Guid="{CD0EA480-5E97-4CF8-8E73-F60C6C209F4B}">
                <File Id="filF8AC879C547AD1B893B16A102D884929" KeyPath="yes" Source="$(var.BasePath)\XIVChatCommon.pdb" />
            </Component>
            <Directory Id="dir287BEF6301389D2501D7D15A87596D90" Name="ar">
                <Component Id="cmpA677BCE65BA8308D1DD6E03378AA000C" Guid="{CC870A4C-57F9-47B3-A257-DA442CB9C6A2}">
                    <File Id="fil084849AE3148408167E4719927C5C826" KeyPath="yes" Source="$(var.BasePath)\ar\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirB15F4604371D144EAEEAD44FE901D873" Name="cs">
                <Component Id="cmp2E0DEB319EC18A80E73072570FA72858" Guid="{AADD9312-9057-477B-8D34-F6C8ABE150DB}">
                    <File Id="fil87D26D6611B6FE6F2DA6FF508FA4BD96" KeyPath="yes" Source="$(var.BasePath)\cs\AutoUpdater.NET.resources.dll" />
                </Component>
                <Component Id="cmpDF1017D5EA73474BB8B4BC39002E4D58" Guid="{CE6323BB-2393-43AA-B20C-61FBFE328E0F}">
                    <File Id="fil675ECD2530B8677AA272904DA6672EBE" KeyPath="yes" Source="$(var.BasePath)\cs\ModernWpf.MahApps.resources.dll" />
                </Component>
                <Component Id="cmpF7786389F47AC8EB89ADBE206455608C" Guid="{789B9B8C-9EBE-4780-BF91-51966065892D}">
                    <File Id="filCBF17FE453172DD8F936DA0D41B2BAFA" KeyPath="yes" Source="$(var.BasePath)\cs\ModernWpf.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirD14FC8A823A878E4AF0649EA144442B1" Name="da">
                <Component Id="cmp7A52A7006AA31864612288DFDC2D6C89" Guid="{2177112E-F0C0-49E4-B5C3-4712B50E8686}">
                    <File Id="filBB26C49B09E0EB24E92504C6E9C73C2C" KeyPath="yes" Source="$(var.BasePath)\da\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir242DC17B8DFC53C13CAF172FC08B730A" Name="de">
                <Component Id="cmpAD847E5D07A4019928B6F50A0E259314" Guid="{8412E2DC-777E-4624-B0CD-7E96AAF74563}">
                    <File Id="filAB45D4B252E6609FAB597DAEDD781CAB" KeyPath="yes" Source="$(var.BasePath)\de\AutoUpdater.NET.resources.dll" />
                </Component>
                <Component Id="cmp55E09061A1DF30E9878313719FAE6664" Guid="{0BA0C0A7-5E37-4EF3-A84D-E1AE0EB3D268}">
                    <File Id="fil1424015000F4C871286F581C5375B980" KeyPath="yes" Source="$(var.BasePath)\de\MahApps.Metro.resources.dll" />
                </Component>
                <Component Id="cmpC3B99F0A5508251016E44BE8208CED53" Guid="{F8E419DB-2271-4C74-BF08-E24817C61240}">
                    <File Id="fil23A1B05CB5F648DA7BC904FD3CF5149C" KeyPath="yes" Source="$(var.BasePath)\de\ModernWpf.MahApps.resources.dll" />
                </Component>
                <Component Id="cmp5269E840D3DFC44ED1F2BA98860997AD" Guid="{ECF7A0AB-371E-4700-8BC2-2DBC20C5C6A1}">
                    <File Id="fil59C1737A67DB30E51FC5B92D49276EB8" KeyPath="yes" Source="$(var.BasePath)\de\ModernWpf.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir9AE38F4F5CB5E565E774521E138F44FD" Name="es">
                <Component Id="cmp082975F0F52B80826E2A9F1F6C3752A4" Guid="{ED4FBE63-2AE3-4513-9B7B-E8AA59816AD7}">
                    <File Id="fil7BD9DB26FCDB44E3B0C747C9728B90CD" KeyPath="yes" Source="$(var.BasePath)\es\AutoUpdater.NET.resources.dll" />
                </Component>
                <Component Id="cmp2630CC831699EAC6E0056928C990EAE6" Guid="{AA9DF89C-A98E-400A-8C9C-43517F925273}">
                    <File Id="fil1B7BA65BB358ACE5D091A5B1CADF10A8" KeyPath="yes" Source="$(var.BasePath)\es\ModernWpf.MahApps.resources.dll" />
                </Component>
                <Component Id="cmp5A9A270CB119FF90FCB0D36EC4EB7993" Guid="{FC60C137-A202-4752-9E39-AD388795DB9F}">
                    <File Id="fil5A52D5B5741298AE7797157445EFD9F9" KeyPath="yes" Source="$(var.BasePath)\es\ModernWpf.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirE645CF78C2D071742BC4B8A6FBD56FD6" Name="fa">
                <Component Id="cmp34431FF5B24C6D71E2C86DF9EA673513" Guid="{1B8A44BD-864B-44A4-ACA2-0FD1DD284883}">
                    <File Id="fil734A2292354D095669D503B0BF4376D0" KeyPath="yes" Source="$(var.BasePath)\fa\ModernWpf.MahApps.resources.dll" />
                </Component>
                <Component Id="cmp5E6C10F0089DD4D032C8CAAE8EDFA8CA" Guid="{401A0765-3DF0-4A97-B02D-D751936B07B4}">
                    <File Id="fil2A55BE9DB326666F5C419404D9778F69" KeyPath="yes" Source="$(var.BasePath)\fa\ModernWpf.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirB55DFDA91FEE7CCCBC65CA7493B75748" Name="fr">
                <Component Id="cmpAD1075A401127AB36B9C9EEC70A133A4" Guid="{CF42B349-B422-41BB-A7FF-BAF825AC1CE0}">
                    <File Id="fil2005C914A61E6D57D915D00D44ED729D" KeyPath="yes" Source="$(var.BasePath)\fr\AutoUpdater.NET.resources.dll" />
                </Component>
                <Component Id="cmp18C8DB1AE6EF8B68B287916E8C32010E" Guid="{4B92678A-E39D-4297-A8ED-67455FE96010}">
                    <File Id="filBF607A98F30D2396D83635F8B8F8F19B" KeyPath="yes" Source="$(var.BasePath)\fr\ModernWpf.MahApps.resources.dll" />
                </Component>
                <Component Id="cmp60D1139BF82E88BCF9EECCB952C86126" Guid="{1CBA073E-CB8D-4622-9966-017BCA3FA6AE}">
                    <File Id="fil93DA8F12174E0B15D77D83A048D12321" KeyPath="yes" Source="$(var.BasePath)\fr\ModernWpf.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir45DE18DD71F3E8DD6BE4A0E2B48778C8" Name="it">
                <Component Id="cmpE8AD76FDEB68BBBF9D4DAF6EF9283617" Guid="{9C3EE93A-F5AF-48A2-BCA0-0DD5D6B8F09A}">
                    <File Id="filD2ECE40B696341BA76D2F991EE202E74" KeyPath="yes" Source="$(var.BasePath)\it\AutoUpdater.NET.resources.dll" />
                </Component>
                <Component Id="cmp4E90C54A2ECCDBF0E576048CDC71957A" Guid="{47F50987-390F-4B44-A2ED-C2859D3701E0}">
                    <File Id="fil73A445CB5355419F38CE0F226BE3E307" KeyPath="yes" Source="$(var.BasePath)\it\ModernWpf.MahApps.resources.dll" />
                </Component>
                <Component Id="cmp2701E060A06B1093D35E76B56ECD06A8" Guid="{CB6DBF56-5E27-404D-AAAE-889AB3617A2B}">
                    <File Id="filEF0D3AEDDF6B3463D8C91A866A7BD15A" KeyPath="yes" Source="$(var.BasePath)\it\ModernWpf.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir997B58958EFAE06BB705E870622AB899" Name="ja">
                <Component Id="cmpB12B5549D58DF5676978C03F8ED80459" Guid="{9C02D1F3-FD16-49C6-AB1C-191990A321EA}">
                    <File Id="fil45ED9691C1B8E9E57C75BECE14E69147" KeyPath="yes" Source="$(var.BasePath)\ja\ModernWpf.MahApps.resources.dll" />
                </Component>
                <Component Id="cmp28B642547407CD2308D46980DBFAD6DE" Guid="{B43FBA6A-52DD-48D7-97E8-77913BAB1046}">
                    <File Id="fil9DB193CBEDC3C3BE169011FAF657709F" KeyPath="yes" Source="$(var.BasePath)\ja\ModernWpf.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir491F4D4E37AD7E1BE6B3D0E7F3A72AD8" Name="ja-JP">
                <Component Id="cmp7EC0FD89E9C8432AD95EDF839EED037F" Guid="{ECD6D1E8-6F0F-4975-BA6B-E63DE043009B}">
                    <File Id="filBC6975812EF2E5BBB2088C20A54D1EF7" KeyPath="yes" Source="$(var.BasePath)\ja-JP\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirF152986C1E6339E5EF84FD1370841521" Name="ko">
                <Component Id="cmpA21A6BD922F0EF7AF63AD1633ED3EB50" Guid="{C4D65150-8BC7-4EE1-B6FE-CB1263082F34}">
                    <File Id="fil5A7A8EFB5E2705EC022F5D823428F758" KeyPath="yes" Source="$(var.BasePath)\ko\AutoUpdater.NET.resources.dll" />
                </Component>
                <Component Id="cmp32BFC9F56E55797CB235FF2F40C937EF" Guid="{7A10F095-8178-4704-9F9B-D033ACA3A540}">
                    <File Id="filDD5BEB5A7492AB7E7E390FDE9E5133AF" KeyPath="yes" Source="$(var.BasePath)\ko\ModernWpf.MahApps.resources.dll" />
                </Component>
                <Component Id="cmpA4CE22D990EFE68C8C6C59C1C40DAA1D" Guid="{92D36E13-7CBB-4DED-9E05-2EF3E73EC879}">
                    <File Id="fil543D2885EA7DAD06E36C9E43396D0CCB" KeyPath="yes" Source="$(var.BasePath)\ko\ModernWpf.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir2F3D431E0ED26930C4D37E679C7700A1" Name="nl">
                <Component Id="cmpE87744AD9F8464B26CE2161C636F8951" Guid="{E864C7A4-2971-4192-B43F-2C2D7ECF628B}">
                    <File Id="fil50CB822A75EB7A18D935894D0389EC6D" KeyPath="yes" Source="$(var.BasePath)\nl\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirB6C57608593BDEA87B90E388CF59E0E8" Name="pl">
                <Component Id="cmp51EB8FB757E7B406EF4C4812AAA5282E" Guid="{C94562DC-F100-4F22-9F55-57B2E67D46B1}">
                    <File Id="fil31B28D6AC5A80D7B5D34AFA8638A28D6" KeyPath="yes" Source="$(var.BasePath)\pl\AutoUpdater.NET.resources.dll" />
                </Component>
                <Component Id="cmp9FCDAD41FEFFA2DDEDB957E3FE674E67" Guid="{71487AE3-AE49-4AA5-BE21-232E1E0B25F4}">
                    <File Id="fil26FF7BEE283226870FEFD2B0C89CA1FD" KeyPath="yes" Source="$(var.BasePath)\pl\ModernWpf.MahApps.resources.dll" />
                </Component>
                <Component Id="cmp8933ACAEFB61280F9C79FFBAA3932F8E" Guid="{7163B743-661F-4E94-AA75-A69279F03221}">
                    <File Id="filF33FCA65059FF658F0A0D6E4963EB5CB" KeyPath="yes" Source="$(var.BasePath)\pl\ModernWpf.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir8606A94F8723F2ACAF42032E593433C7" Name="pt">
                <Component Id="cmp39637015F93F891D9F47B0F1A55B7552" Guid="{4E185DCC-F0D6-40BE-ACB2-D02B9FBFC422}">
                    <File Id="filE377A8BD286FBEF44DFF15DA0E17BA24" KeyPath="yes" Source="$(var.BasePath)\pt\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir339F53F3A11C56B053FD1FEC9B438810" Name="pt-BR">
                <Component Id="cmp658A9FDD30D646741B68DB2BC1EF80E2" Guid="{E0DBCE98-B814-4E01-ABB9-5DBF160498D9}">
                    <File Id="fil15AE1AEAED10D0D080937282C21FBCAE" KeyPath="yes" Source="$(var.BasePath)\pt-BR\AutoUpdater.NET.resources.dll" />
                </Component>
                <Component Id="cmp1C8CD8AD9B5287F3179B12DA7C767F9D" Guid="{0B0B0ACD-A10B-433F-8392-859C5B501D2D}">
                    <File Id="fil031659422936ACF9F57BAC8FFD4C9900" KeyPath="yes" Source="$(var.BasePath)\pt-BR\ModernWpf.MahApps.resources.dll" />
                </Component>
                <Component Id="cmpD55B828841C94B06A1567062AB1B7478" Guid="{33DA7A80-79C7-436F-BA19-7C2B490E7FA9}">
                    <File Id="fil9F20E21391B11581B044FA1B7D8AF6CC" KeyPath="yes" Source="$(var.BasePath)\pt-BR\ModernWpf.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirE9205C68F964857267FD3312DBFF9A91" Name="ru">
                <Component Id="cmp5AE50C6A24CB1D82BA447952E0B9E20F" Guid="{D6419B22-04FE-4BEB-BF97-1D58BD143C7A}">
                    <File Id="filEF86E75255311A0E1B87918B9C3BC7EF" KeyPath="yes" Source="$(var.BasePath)\ru\AutoUpdater.NET.resources.dll" />
                </Component>
                <Component Id="cmp02DA52A2877A70998A9DDC8FE1F976B4" Guid="{A41C3A20-C4FD-4B04-9BD0-AED2A819AB39}">
                    <File Id="fil07743B03845EA3376CB997B8F1E7FD7C" KeyPath="yes" Source="$(var.BasePath)\ru\ModernWpf.MahApps.resources.dll" />
                </Component>
                <Component Id="cmpB5304B9C50B55D5D98FEEEEF99EB628F" Guid="{55A4F850-E31B-4917-9527-89E3A88971A6}">
                    <File Id="filA16C4C6DAE8CC82B68FED6E58E8560FE" KeyPath="yes" Source="$(var.BasePath)\ru\ModernWpf.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir58E8247E2885C01898CAD009F9EFD8BA" Name="runtimes">
                <Directory Id="dir43C41CC727670B5306674FCA0856E156" Name="linux-musl-x64">
                    <Directory Id="dir45A4D9035B4FF6D574E71B5F5E92BDDF" Name="native">
                        <Component Id="cmp3636EFD97F29C4E37D7C0FCD8187768F" Guid="{218A0943-95D1-4F8A-88B7-47AF71926F4B}">
                            <File Id="fil037C9035F0E626F30942E483F42AC573" KeyPath="yes" Source="$(var.BasePath)\runtimes\linux-musl-x64\native\libsodium.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir986BEF73997BE02DCDBC34E856C19B36" Name="linux-x64">
                    <Directory Id="dirE1E651EB5B4F1522E5E10B81FEA70677" Name="native">
                        <Component Id="cmpAF365E4340D4D953CEB0C0A0C8AD2775" Guid="{E1DA4225-A379-4FCC-BA75-1C5698C5C33F}">
                            <File Id="fil674BB6FD43444204EA4A7A3792E132F9" KeyPath="yes" Source="$(var.BasePath)\runtimes\linux-x64\native\libsodium.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir42B901FB10752B2744AE05D46EAF35EC" Name="osx-x64">
                    <Directory Id="dir71D0D403061D4DE071C64AEB774E16CF" Name="native">
                        <Component Id="cmp4D3C286B9CBE50A1EBCA07ED538D1EC3" Guid="{69691A41-C1CC-4844-A7E1-5E4A32D8A760}">
                            <File Id="filD22DC3C3CD5AC199BFD3A6743239FFC7" KeyPath="yes" Source="$(var.BasePath)\runtimes\osx-x64\native\libsodium.dylib" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirDD6F90495A1A6169171F36CE85E975B6" Name="unix">
                    <Directory Id="dirF5C312D00ABBDC163194A7BEF01BFACF" Name="lib">
                        <Directory Id="dir294AEFEFF4E8C5A86E7E1147588E123E" Name="netcoreapp3.0">
                            <Component Id="cmpF4AD5C5B3BFAF3AFE5BC8AA957546247" Guid="{0FA958BE-DF1C-455D-B62F-76E099578AB5}">
                                <File Id="fil1797D6F7F2B351E1E42ACA50FC09D80D" KeyPath="yes" Source="$(var.BasePath)\runtimes\unix\lib\netcoreapp3.0\System.Drawing.Common.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dir9BE9104649A116CC7BCCF4D9CCD3331B" Name="win">
                    <Directory Id="dirD19B0610952D1EE2D417EB5361695989" Name="lib">
                        <Directory Id="dir9CFC3E32F9CD3F5D85C1CE5068697BC1" Name="netcoreapp3.0">
                            <Component Id="cmp946EB16BD114CBF5B87B4E5FF94153E3" Guid="{3CED7879-F038-475F-89A3-C32D616D45F4}">
                                <File Id="filA5B8427E19E08327B11E12487D2638B7" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\netcoreapp3.0\Microsoft.Win32.SystemEvents.dll" />
                            </Component>
                            <Component Id="cmp2AAA2FAA1C898CAB5E25F29DCD76CA1F" Guid="{13190B05-6E7E-49A9-8724-521B290F954E}">
                                <File Id="fil0E8F659D0BD2A39DD4E825B30BA45270" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\netcoreapp3.0\System.Drawing.Common.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dirB9C75524282911E40C3C964A8836A714" Name="win-x64">
                    <Directory Id="dir1F9DF9DD2FB29AE2942604FAC206D5C4" Name="native">
                        <Component Id="cmp4A8CEFD5DC3D3D172737587D3A9C227A" Guid="{CC7535E0-EF24-4046-B38F-46CD9D4B3908}">
                            <File Id="filC0DA9196F9EC039A35AA8AB2D7699020" KeyPath="yes" Source="$(var.BasePath)\runtimes\win-x64\native\libsodium.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir92F336DAA82E5A629052407A3F87EF27" Name="win-x86">
                    <Directory Id="dir2B43AAE918D399CEF13EC6CBA2D3D5EA" Name="native">
                        <Component Id="cmp3AF8D3C4C19360AB3EBD29EFC70E81E7" Guid="{6736DFCD-7637-4194-AFE8-1EB836957533}">
                            <File Id="filDF556011EB1739DB735A877F78576512" KeyPath="yes" Source="$(var.BasePath)\runtimes\win-x86\native\libsodium.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="dir52134E8375A906043BC963526BFBD7F7" Name="sk">
                <Component Id="cmpBDCED767E1D95215E844A504F0331940" Guid="{62FD4FFF-193B-483A-B23A-7552279699DF}">
                    <File Id="filC97940AB099ED0912A0B1CE96D5F04E0" KeyPath="yes" Source="$(var.BasePath)\sk\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir8FBB04D7AB5FE55FCF40758128EC763E" Name="sv">
                <Component Id="cmp080C2D522F603923AD40A41557717920" Guid="{38AE7B27-B407-4A08-8250-1A5D9B2E580D}">
                    <File Id="fil4C1155EC6ADC0D41C30A4D0C1F46F285" KeyPath="yes" Source="$(var.BasePath)\sv\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir65067E1D4FF549EC0E8837212711FCFD" Name="th">
                <Component Id="cmp309ED9DE72B05A56AF5EF62C9A80DC99" Guid="{58DFEE12-7D98-4220-9B89-CC94EF11F5CF}">
                    <File Id="fil3577523D9F20B2F124C344122359E722" KeyPath="yes" Source="$(var.BasePath)\th\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirE562A4656FE03253EA39D17E8127BA05" Name="tr">
                <Component Id="cmpE397D2376B649010E440E295D35D5A0C" Guid="{C3C88315-7234-4FFA-89C9-52110CDE7FBE}">
                    <File Id="fil5FBDC325127F202EAE74067321EA6FB9" KeyPath="yes" Source="$(var.BasePath)\tr\AutoUpdater.NET.resources.dll" />
                </Component>
                <Component Id="cmp8BEFFCD40519D747BCEBF8DC55035EBE" Guid="{4A5BD803-3711-466D-902C-0C02CE2932CF}">
                    <File Id="fil17CC24A53806EDEAA4866AE72242A601" KeyPath="yes" Source="$(var.BasePath)\tr\ModernWpf.MahApps.resources.dll" />
                </Component>
                <Component Id="cmpAAC047A15FA3964EF2BF3B73E3C8AAB3" Guid="{BE386457-5446-4153-948A-AD1421AC7317}">
                    <File Id="filB5688274979C5CEDA7696CFB5EDCF929" KeyPath="yes" Source="$(var.BasePath)\tr\ModernWpf.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirAFDFAB8989A0B2FA3B5E468F44862509" Name="zh">
                <Component Id="cmpAC2925CF6B49F8A5F7E9155050D1B6A6" Guid="{B49E6F14-96FC-4C2B-B426-7CC1D6EF9D80}">
                    <File Id="filAD4FA18ED618C306E8BDA83E3F6C6363" KeyPath="yes" Source="$(var.BasePath)\zh\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir4A8DD77DBC79775EC39CACBC8AA06107" Name="zh-Hans">
                <Component Id="cmpAE422B2613FE5FD2EC5B16295D230175" Guid="{AB57F68D-2D72-4A5B-8B68-FD81F72E3118}">
                    <File Id="fil882E66387ADECAC798D7A8D9AC87C024" KeyPath="yes" Source="$(var.BasePath)\zh-Hans\ModernWpf.MahApps.resources.dll" />
                </Component>
                <Component Id="cmp03830096E165CD46C0051D6232AF0C3E" Guid="{45143868-43CE-4910-9FC2-E1A9A0F20D72}">
                    <File Id="filF50B5781988349ABB0904963F3B6BDA5" KeyPath="yes" Source="$(var.BasePath)\zh-Hans\ModernWpf.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir083BC4C92455CD933FA93376E7459C85" Name="zh-Hant">
                <Component Id="cmp278377B2415FF0785B55A2951C169A36" Guid="{A73C8067-EB93-4CC3-B0FB-ECFFD7691000}">
                    <File Id="filB1C593CC8BA262492BC8C9B620D03E74" KeyPath="yes" Source="$(var.BasePath)\zh-Hant\ModernWpf.MahApps.resources.dll" />
                </Component>
                <Component Id="cmpB2CE33CEE4CDEEFC9302D1F5D2620713" Guid="{78C318D5-8DED-4114-8D71-74496905E95B}">
                    <File Id="fil1AABF0A259B44E00967E3959365ED5C5" KeyPath="yes" Source="$(var.BasePath)\zh-Hant\ModernWpf.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir1F6F946C76D667D5049398AFFC1AA745" Name="zh-tw">
                <Component Id="cmpBC62C2EFB8F897C32FB1B574ACB27DEE" Guid="{36B0741A-CB16-446D-AA23-4E7D2871D8F9}">
                    <File Id="fil529205111ACB527807240DCEF0D9F4D5" KeyPath="yes" Source="$(var.BasePath)\zh-tw\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="XIVChat_Desktop">
            <ComponentRef Id="cmp62A610FDDE92CF51D05322BEF0E226B2" />
            <ComponentRef Id="cmp9110E4565D76564E9BC2F34625854902" />
            <ComponentRef Id="cmpBE3C1D05C7C90455322C9F819A57A07A" />
            <ComponentRef Id="cmp223D4754378C01052DA8253A843FD297" />
            <ComponentRef Id="cmp5B52A156A080E21CFB9B323B5D15A45A" />
            <ComponentRef Id="cmp4D5FEDB2613ABE0CC5DA87D2DBC3D2BA" />
            <ComponentRef Id="cmpBFEDA7A8D4424C72EC293E61D495B6FF" />
            <ComponentRef Id="cmp11D04828B3ED23976ED03141046B44C2" />
            <ComponentRef Id="cmp20E5A82EE1F53BB560782568696E50EF" />
            <ComponentRef Id="cmpDF2A173873CB2DF4B359397F026B691C" />
            <ComponentRef Id="cmp16861E24C897764CA922EC062BA74EC9" />
            <ComponentRef Id="cmp8AC833CFB7DC6722697152FE46DA157A" />
            <ComponentRef Id="cmpB007AF0D64FEC3E4CCD5DDEEFDD0FCE0" />
            <ComponentRef Id="cmp8033887FE4533F73A3432B0F9C9A4E87" />
            <ComponentRef Id="cmpB7046E471ED7E50D2ACC307A1500865A" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmpA704DA18EEB416409240ED952AA6BFD4" />
            <ComponentRef Id="cmp435E538CF04439DBCE66AA16A7EAC669" />
            <ComponentRef Id="cmp08EBD8C605FF27A4F0FCEC5A1317087B" />
            <ComponentRef Id="cmpA5817A2BB296EF3C39CAFA8A07CD6B59" />
            <ComponentRef Id="cmp0F154A7223DF5BCBA5242150EFB1D632" />
            <ComponentRef Id="cmp789087371D7AD59BBC0313545741F979" />
            <ComponentRef Id="cmp400C65086FD37B5B46A2A729C0AC57EF" />
            <ComponentRef Id="cmpEA4BCDFE4F274948BEDF619A2303342A" />
            <ComponentRef Id="cmp2976261FCF531D3D10B13E080A963D75" />
            <ComponentRef Id="cmpE21E5009D2DB48C7FD0819BEBC60A338" />
            <ComponentRef Id="cmp398EECD87ED648B7A1C26D0A22F0EF95" />
            <ComponentRef Id="cmp56488BC092D9B3E6C8546D012BC86A37" />
            <ComponentRef Id="cmp81257D18BC0A55BE374445B2BD0F64D7" />
            <ComponentRef Id="cmpA677BCE65BA8308D1DD6E03378AA000C" />
            <ComponentRef Id="cmp2E0DEB319EC18A80E73072570FA72858" />
            <ComponentRef Id="cmpDF1017D5EA73474BB8B4BC39002E4D58" />
            <ComponentRef Id="cmpF7786389F47AC8EB89ADBE206455608C" />
            <ComponentRef Id="cmp7A52A7006AA31864612288DFDC2D6C89" />
            <ComponentRef Id="cmpAD847E5D07A4019928B6F50A0E259314" />
            <ComponentRef Id="cmp55E09061A1DF30E9878313719FAE6664" />
            <ComponentRef Id="cmpC3B99F0A5508251016E44BE8208CED53" />
            <ComponentRef Id="cmp5269E840D3DFC44ED1F2BA98860997AD" />
            <ComponentRef Id="cmp082975F0F52B80826E2A9F1F6C3752A4" />
            <ComponentRef Id="cmp2630CC831699EAC6E0056928C990EAE6" />
            <ComponentRef Id="cmp5A9A270CB119FF90FCB0D36EC4EB7993" />
            <ComponentRef Id="cmp34431FF5B24C6D71E2C86DF9EA673513" />
            <ComponentRef Id="cmp5E6C10F0089DD4D032C8CAAE8EDFA8CA" />
            <ComponentRef Id="cmpAD1075A401127AB36B9C9EEC70A133A4" />
            <ComponentRef Id="cmp18C8DB1AE6EF8B68B287916E8C32010E" />
            <ComponentRef Id="cmp60D1139BF82E88BCF9EECCB952C86126" />
            <ComponentRef Id="cmpE8AD76FDEB68BBBF9D4DAF6EF9283617" />
            <ComponentRef Id="cmp4E90C54A2ECCDBF0E576048CDC71957A" />
            <ComponentRef Id="cmp2701E060A06B1093D35E76B56ECD06A8" />
            <ComponentRef Id="cmpB12B5549D58DF5676978C03F8ED80459" />
            <ComponentRef Id="cmp28B642547407CD2308D46980DBFAD6DE" />
            <ComponentRef Id="cmp7EC0FD89E9C8432AD95EDF839EED037F" />
            <ComponentRef Id="cmpA21A6BD922F0EF7AF63AD1633ED3EB50" />
            <ComponentRef Id="cmp32BFC9F56E55797CB235FF2F40C937EF" />
            <ComponentRef Id="cmpA4CE22D990EFE68C8C6C59C1C40DAA1D" />
            <ComponentRef Id="cmpE87744AD9F8464B26CE2161C636F8951" />
            <ComponentRef Id="cmp51EB8FB757E7B406EF4C4812AAA5282E" />
            <ComponentRef Id="cmp9FCDAD41FEFFA2DDEDB957E3FE674E67" />
            <ComponentRef Id="cmp8933ACAEFB61280F9C79FFBAA3932F8E" />
            <ComponentRef Id="cmp39637015F93F891D9F47B0F1A55B7552" />
            <ComponentRef Id="cmp658A9FDD30D646741B68DB2BC1EF80E2" />
            <ComponentRef Id="cmp1C8CD8AD9B5287F3179B12DA7C767F9D" />
            <ComponentRef Id="cmpD55B828841C94B06A1567062AB1B7478" />
            <ComponentRef Id="cmp5AE50C6A24CB1D82BA447952E0B9E20F" />
            <ComponentRef Id="cmp02DA52A2877A70998A9DDC8FE1F976B4" />
            <ComponentRef Id="cmpB5304B9C50B55D5D98FEEEEF99EB628F" />
            <ComponentRef Id="cmp3636EFD97F29C4E37D7C0FCD8187768F" />
            <ComponentRef Id="cmpAF365E4340D4D953CEB0C0A0C8AD2775" />
            <ComponentRef Id="cmp4D3C286B9CBE50A1EBCA07ED538D1EC3" />
            <ComponentRef Id="cmpF4AD5C5B3BFAF3AFE5BC8AA957546247" />
            <ComponentRef Id="cmp946EB16BD114CBF5B87B4E5FF94153E3" />
            <ComponentRef Id="cmp2AAA2FAA1C898CAB5E25F29DCD76CA1F" />
            <ComponentRef Id="cmp4A8CEFD5DC3D3D172737587D3A9C227A" />
            <ComponentRef Id="cmp3AF8D3C4C19360AB3EBD29EFC70E81E7" />
            <ComponentRef Id="cmpBDCED767E1D95215E844A504F0331940" />
            <ComponentRef Id="cmp080C2D522F603923AD40A41557717920" />
            <ComponentRef Id="cmp309ED9DE72B05A56AF5EF62C9A80DC99" />
            <ComponentRef Id="cmpE397D2376B649010E440E295D35D5A0C" />
            <ComponentRef Id="cmp8BEFFCD40519D747BCEBF8DC55035EBE" />
            <ComponentRef Id="cmpAAC047A15FA3964EF2BF3B73E3C8AAB3" />
            <ComponentRef Id="cmpAC2925CF6B49F8A5F7E9155050D1B6A6" />
            <ComponentRef Id="cmpAE422B2613FE5FD2EC5B16295D230175" />
            <ComponentRef Id="cmp03830096E165CD46C0051D6232AF0C3E" />
            <ComponentRef Id="cmp278377B2415FF0785B55A2951C169A36" />
            <ComponentRef Id="cmpB2CE33CEE4CDEEFC9302D1F5D2620713" />
            <ComponentRef Id="cmpBC62C2EFB8F897C32FB1B574ACB27DEE" />
        </ComponentGroup>
    </Fragment>
</Wix>